#gameboard
{
    width: 320px;
    height: 320px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.square
{
    height: 40px;
    width: 40px;
}
/*if a square has an svg*/
.square svg 
{
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path
{
    position: relative;
    z-index: -10;
}
.piece
{
    position: relative;
    z-index: 9;
}

.white
{
    background-color: rgb(104, 119, 160);
}
.black
{
    background-color: rgb(80, 77, 109);
}
.blackPiece
{
    fill: black;
}
.whitePiece
{
    fill: white;
}